/*---------------------------------------------------- 
Screen - 1200px
----------------------------------------------------*/
@media screen and (max-width: 768px) {
  .about,
  header,
  main {
    padding-top: 3rem;
  }
  footer {
    padding-top: 5rem;
  }

  .main_top {
    padding-top: 0;
  }
  h1 {
    font-size: 2rem;
    padding: 0;
  }
}
/*---------------------------------------------------- 
Screen - 640px
----------------------------------------------------*/
@media screen and (max-width: 640px) {
  .about,
  header,
  main {
    padding-top: 2rem;
  }

  footer {
    padding-top: 4rem;
  }
  .container {
    padding: 0 2rem;
  }
  .header_right .flex {
    gap: 5rem;
  }

  .about_content {
    margin-top: 2rem;
  }
  .about_list {
    width: 80%;
  }
}
/*---------------------------------------------------- 
Screen - 480px
----------------------------------------------------*/
@media screen and (max-width: 480px) {
  header {
    padding-bottom: 2rem;
  }
  .header_right .flex {
    gap: 3rem;
  }
  h1 {
    font-size: 1.8rem;
  }
  .main_bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
  }
  .dwn_btn {
    padding: 0.8em 1.5em;
  }
  .email_btn {
    padding: 0.6rem 1.4rem;
  }
  .about_list {
    width: 100%;
  }

  .about_content {
    margin-top: 3.5rem;
    gap: 2rem;
  }
}
/*---------------------------------------------------- 
Screen - 400px
----------------------------------------------------*/
@media screen and (max-width: 360px) {
  h1 {
    font-size: 1.5rem;
  }

  .about {
    h2 {
      font-size: 1.9rem;
    }
  }
  .about_content {
    margin-top: 2rem;
  }
  .social_links {
    gap: 1.3rem;
    a {
      font-size: 1.2rem;
    }
  }
  .about_content {
    flex-direction: column;
  }
}
