/*---------------------------------------------------- 
Screen - 1200px
----------------------------------------------------*/

@media screen and (max-width: 768px) {
  .about,
  header,
  main {
    padding-top: 3rem;
  }
  footer {
    padding-top: 5rem;
  }

  .main_top {
    padding-top: 0;
  }
  main h1 {
    font-size: 2rem;
    padding: 0;
  }
}

/*---------------------------------------------------- 
Screen - 1080px
----------------------------------------------------*/

/*---------------------------------------------------- 
Screen - 640px
----------------------------------------------------*/
@media screen and (max-width: 640px) {
  .about,
  header,
  main {
    padding-top: 2rem;
  }

  footer {
    padding-top: 4rem;
  }
  .container {
    padding: 0 2rem;
  }
  .header_right .flex {
    gap: 5rem;
  }

  .about_content {
    margin-top: 2rem;
  }
}

/*---------------------------------------------------- 
Screen - 480px
----------------------------------------------------*/
@media screen and (max-width: 500px) {
  .main_bottom .dwn_btn {
    gap: 2rem;
    padding: 0.8em 1.5em;
  }
}

/*---------------------------------------------------- 
Screen - 1080px
----------------------------------------------------*/
