/*---------------------------------------------------- import Fonts ----------------------------------------------------*/
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --blk: #111010;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
  color: var(--blk);
}

a {
  text-decoration: none;
  color: var(--blk);
}

input,
button {
  border: none;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  padding: 0 4rem;
}

body {
  font-style: normal;
  line-height: 1.5;
  color: var(--blk);
}

img {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex_col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.justify_center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*---------------------------------------------------- 
Header Area
----------------------------------------------------*/

header {
  padding-top: 3.75rem;
  padding-bottom: 3rem;
  .flex {
    justify-content: space-between;
  }

  ul {
    list-style: none;
  }
}
.header_left {
  line-height: 0;
}
.header_right {
  .flex {
    gap: 7rem;
  }
  a {
    position: relative;
    font-weight: 600;
    font-size: 0.95rem;
    text-transform: capitalize;
    border-bottom: 3px solid transparent;
    height: 100%;
    padding-bottom: 1.25rem;
    padding-top: 0.25rem;
    position: relative;
    cursor: pointer;
  }

  a::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 18px;
    height: 3px;
    background: transparent;
    bottom: -3px;
    right: 50%;
    margin-right: -9px;
    transition: 100ms ease-in-out background;
  }

  a:hover::after {
    background: #5393fe;
    transition: 100ms ease-in-out background;
  }
}
/*---------------------------------------------------- 
Main Area
----------------------------------------------------*/
main {
  padding-top: 3.75rem;
  padding-bottom: 3rem;
}
h1 {
  font-size: 2.8rem;
  line-height: 1.45;
  font-weight: 800;
  padding-right: 3rem;
}
h1 a:nth-of-type(1) {
  color: #5393fe;
  &:hover {
    color: #4b84e5;
    background-color: #e3efff;
  }
}
h1 a:nth-of-type(2) {
  color: #f46b3f;
  &:hover {
    color: #dc6039;
    background-color: #fde1d9;
  }
}
h1 a:nth-of-type(3) {
  color: #b57bff;
  &:hover {
    color: #a36fe6;
    background-color: #f0e5ff;
  }
}
h1 a:nth-of-type(4) {
  color: #6cbb47;
  &:hover {
    color: #61a840;
    background-color: #e2f1da;
  }
}
a:nth-of-type(5) {
  color: #17b1b1;
  &:hover {
    color: #159f9f;
    background-color: #d1efef;
  }
}

.main_top {
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  // margin-bottom: 6em;
}

.main_bottom {
  gap: 4rem;
}

.dwn_btn {
  padding: 1.2rem 2rem;
  background-color: #73abff;
  font-weight: 600;
  color: white;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 2px;
  position: relative;
  transition: 100ms ease-in-out background-color;
}

.dwn_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(135deg, #ffa7ff 0%, #c495ff 100%);
}

.dwn_btn:hover {
  background: transparent;
}

.email_btn {
  font-weight: 600;
  background-color: #e3efff;
  color: #4b84e5;
  padding: 0.7rem 1.7rem;
  transition: background-color 100ms ease-in-out;
}

.email_btn:hover {
  background-color: #cbdfff;
}

/*---------------------------------------------------- 
About section
----------------------------------------------------*/
.about {
  padding-top: 5rem;

  ul {
    margin-top: 1.3rem;
    margin-left: 2.5rem;
    line-height: 1.6;
  }
  .cms {
    margin-top: 1.3rem;
  }
}
.about_content {
  line-height: 1.8;
  margin-top: 4rem;
  gap: 5rem;
}

.social_links {
  gap: 2rem;
  a {
    display: flex;
    font-weight: 600;
    gap: 1rem;
    span {
      transform: translateX(-5px);
      transition: all ease-in-out 200ms;
      opacity: 0;
    }
    &:hover span {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.about_list {
  width: 55%;
}

/*---------------------------------------------------- 
Main Area
----------------------------------------------------*/
footer {
  padding-top: 9rem;
  margin-bottom: 3rem;
  text-align: center;
}

.footer_bottom {
  margin-top: 1rem;
  text-align: center;
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.75rem;
    span {
      color: #7d7f81;
    }
    &:hover span {
      color: #192c4c;
    }
  }
  img {
    width: 2.2rem;
  }
  a:hover img {
    animation: rotation 1.5s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
