/*---------------------------------------------------- import Fonts ----------------------------------------------------*/
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --blk: #111010;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
  color: var(--blk);
}

a {
  text-decoration: none;
  color: var(--blk);
}

input,
button {
  border: none;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  padding: 0 4rem;
}

body {
  font-style: normal;
  line-height: 1.5;
}

img {
  width: 100%;
}

p,
span,
li {
  color: var(--blk);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex_col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.justify_center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*---------------------------------------------------- 
Header Area
----------------------------------------------------*/
header {
  padding-top: 3.75em;
  padding-bottom: 3em;
}

header .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul {
  list-style: none;
}

.header_left {
  line-height: 0;
}

.header_right .flex {
  gap: 7rem;
}

.header_right a {
  position: relative;
  font-weight: 600;
  font-size: 0.95em;
  text-transform: capitalize;
  border-bottom: 3px solid transparent;
  height: 100%;
  padding-bottom: 1.25em;
  padding-top: 0.25em;
  position: relative;
  cursor: pointer;
}

.header_right a::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 18px;
  height: 3px;
  background: transparent;
  bottom: -3px;
  right: 50%;
  margin-right: -9px;
  -webkit-transition: 100ms ease-in-out background;
  transition: 100ms ease-in-out background;
}

.header_right a:hover::after {
  background: #5393fe;
  -webkit-transition: 100ms ease-in-out background;
  transition: 100ms ease-in-out background;
}

/*---------------------------------------------------- 
Main Area
----------------------------------------------------*/
main {
  padding-top: 3.75rem;
  padding-bottom: 3rem;
}

main h1 {
  font-size: 2.8em;
  line-height: 1.45;
  font-weight: 800;
  padding-right: 3rem;
}

main h1 a:nth-of-type(1) {
  color: #5393fe;
}

main h1 a:nth-of-type(1):hover {
  color: #4b84e5;
  background-color: #e3efff;
}

main h1 a:nth-of-type(2) {
  color: #f46b3f;
}

main h1 a:nth-of-type(2):hover {
  color: #dc6039;
  background-color: #fde1d9;
}

main a:nth-of-type(3) {
  color: #b57bff;
}

main a:nth-of-type(3):hover {
  color: #a36fe6;
  background-color: #f0e5ff;
}

main h1 a:nth-of-type(4) {
  color: #6cbb47;
}

main h1 a:nth-of-type(4):hover {
  color: #61a840;
  background-color: #e2f1da;
}

main a:nth-of-type(5) {
  color: #17b1b1;
}

main a:nth-of-type(5):hover {
  color: #159f9f;
  background-color: #d1efef;
}

.main_top {
  padding-top: 2.5em;
  padding-bottom: 3em;
}

.main_bottom {
  gap: 4rem;
}

.dwn_btn {
  padding: 1.2em 2em;
  background-color: #73abff;
  font-weight: 600;
  color: white;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 2px;
  position: relative;
  -webkit-transition: 100ms ease-in-out background-color;
  transition: 100ms ease-in-out background-color;
}

.dwn_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(135deg, #ffa7ff 0%, #c495ff 100%);
}

.dwn_btn:hover {
  background: transparent;
}

.email_btn {
  font-weight: 600;
  background-color: #e3efff;
  color: #4b84e5;
  padding: 0.7em 1.7em;
  -webkit-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
}

.email_btn:hover {
  background-color: #cbdfff;
}

/*---------------------------------------------------- 
About section
----------------------------------------------------*/
.about {
  margin-top: 5rem;
}

.about ul {
  margin-top: 1.3rem;
  margin-left: 3rem;
  line-height: 1.6;
}

.about .cms {
  margin-top: 1.3rem;
}

.about_content {
  line-height: 1.8;
  margin-top: 4rem;
  gap: 5rem;
}

.social_links {
  gap: 2rem;
}

.social_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  gap: 1rem;
}

.social_links a span {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
  opacity: 0;
}

.social_links a:hover span {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.about_list {
  width: 55%;
}

/*---------------------------------------------------- 
Main Area
----------------------------------------------------*/
footer {
  margin-top: 9rem;
  margin-bottom: 3rem;
  text-align: center;
}

.footer_bottom {
  margin-top: 1rem;
  text-align: center;
}

.footer_bottom a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3rem;
  font-size: 0.75em;
}

.footer_bottom a span {
  color: #7d7f81;
}

.footer_bottom a:hover span {
  color: #192c4c;
}

.footer_bottom img {
  width: 2.2rem;
}

.footer_bottom a:hover img {
  -webkit-animation: rotation 1.5s infinite linear;
          animation: rotation 1.5s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
/*# sourceMappingURL=style.css.map */